.cli-window {
  overflow: auto;
  height: 100%;
  padding-bottom: 2rem;
  background-color: rgb(15, 15, 15);
  div[name="react-console-emulator"] {
    height: 100%;
    background-color: transparent !important
  }
}
