.cards {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-block: 2rem;
  padding-inline: 0.5rem;
  padding-bottom: 10rem;

  .card {
    border-radius: 0.5rem;
    background: #2e2e2e;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    flex: 1;
    min-width: 15rem;
    max-width: 18rem;
    height: 28rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    img {
      border-radius: 0.5rem;
      width: 100%;
    }
    h1 {
      font-size: 1.25rem;
      font-weight: 500;
    }
    .description {
      font-size: 0.8rem;
      color: rgba(245, 245, 245, 0.68);
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      .tag {
        background: #0055ff;
        padding-inline: 0.5rem;
        padding-block: 0.25rem;
        border-radius: 0.5rem;
      }
    }
    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20%;

      .link {
        text-decoration: none;
        color: rgb(215, 215, 215);
        background: #d63434;
        padding-inline: 2rem;
        padding-block: 0.5rem;
        border-radius: 2rem;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      }
      .link:hover {
        transform: scale(1.1) translateY(-5%);
        border: 1px solid rgba(255, 255, 255, 0.294);
        font-size: 0.8rem;
      }
    }
  }
}
