.window {
  border: 1px solid rgba(128, 128, 128, 0.179);
  height: 400px;
  width: 600px;
  background: #000;
  border-radius: 0.75rem;
  overflow: hidden;
  color: rgb(191, 191, 191);
  .nav {
    color: rgb(191, 191, 191);
    font-weight: 300;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    align-items: center;
    .dots {
      display: flex;
      gap: 0.25rem;
      .dot {
        height: 11px;
        width: 11px;
        background: white;
        border-radius: 50%;
      }
      .red {
        background: rgb(231, 48, 48);
      }
      .yellow {
        background: rgb(243, 178, 28);
      }
      .green {
        background: rgb(40, 193, 40);
      }
    }
  }
  .mainContent {
    padding: 0.5rem;
    height: 100%;
  }
}
