.window {
  border: 1px solid rgba(128, 128, 128, 0.179);
  height: 100%;
  background: #000;
  border-radius: 0.75rem;
  overflow: hidden;
  color: rgb(191, 191, 191);
  min-width: 18rem;
  min-height: 18rem;
  cursor: auto;

  .nav {
    color: rgb(191, 191, 191);
    font-weight: 300;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    align-items: center;
    .dots {
      display: flex;
      gap: 0.25rem;
      .dot {
        height: 11px;
        width: 11px;
        background: white;
        border-radius: 50%;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      .red {
        background: rgb(231, 48, 48);
      }
      .red:hover {
        background: rgb(122, 7, 7);
      }
      .yellow {
        background: rgb(243, 178, 28);
      }
      .yellow:hover {
        background: rgb(144, 110, 30);
      }
      .green {
        background: rgb(40, 193, 40);
      }
      .green:hover {
        background: rgb(17, 111, 17);
      }
    }
  }
  .mainContent {
    padding: 0.5rem;
    height: 100%;
  }
  *::-webkit-scrollbar {
    width: 2px;
  }
  *::-webkit-scrollbar-thumb {
    background: rgb(103, 103, 103);
    border-radius: 4px;
  }
}
